.change-code{
    background: #F5F5F5;

    width: 100vw;
    height: 100vh;
    &__container{
        padding: 0 16px;
        display: flex;
        height: 100%;
        align-items: center;
    }
    &__content{
        background: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
        border-radius: 30px;
        width: 100%;
        padding: 92px 16px;
        
    }
    &__form{
        max-width: 100%!important;
        margin: 32px 0 0 0!important;
    
        .form__item +.form__item{
            margin-top: 24px;
        }
        .form__btn-wrapper{
            margin: 32px 0 0 0;
        }
    }
    &__title{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #323C47;
        text-align: center;
      
        
    }
}

@media screen and (min-width:768px) {
    .change-code{
        &__container{
            padding: 0 32px;

        }
        &__content{
            padding: 32px 0;
            width: 100%;
            margin: 0 auto;
            display: flex;
           justify-content: center;
           max-width: 704px;

            
        }
        
        &__form{
            width: 440px;
            
            .form__btn-wrapper{
                margin: 64px 0 0 0;
            }
        }
        &__wrapper{
         
            padding: 0 46px;
        }
       
    }
}
@media screen and (min-width:1200px) {
    .change-code{

        &__container{
            padding: unset
        }
        &__content{
           max-width: 916px;
        }
        
        &__form{
            width: 440px;
            .form__btn-wrapper{
                margin: 64px 0 0 0;
            }
        }
      
       
    }
}

