.menu-mobile{
    position: fixed;
    bottom: 0vh;
    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    padding: 0 32px;
   left: 50%;
   transform: translateX(-50%);
    display: none;
    transition: all 500ms ease;
    &__link{
        display: block;
        
    }
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 64px;
        height: 64px;
      
        display: inline-flex;
        align-items: center;
        justify-content: center;

        border-radius: 12px;
        transition: all 300ms ease;
        cursor: pointer;
        svg{
            width: 32px;
            height: 32px;

        }
        svg path{
            transition: all 300ms ease;
        }
        &:hover{
            background: #F6F8FB;
            svg path{
                stroke: #109CF1;
            }
        }
    }
    &--btn{
        &__btn{
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}


@media screen and (max-width:1200px) {
    .menu-mobile{
        display: block;
    }
 
}
@media screen and (max-width:767px) {
    .menu-mobile{
        display: block;
        padding: 0 16px;
        &__item{
            width: 48px;
            height: 48px;
            svg{
                width: 24px;
                height: 24px;
            }
        }
    }
   
    
}