.signform{
    width: 100%;
    height: 100vh;
    background: #FAFBFF;
 
    &__container{

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 32px ;
    }
    &__content{
        max-width: 824px;
        width: 100%;
        min-height: 597px;
        background: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
        border-radius: 30px;
        padding: 32px 0;
      
    }
  

    .form__item + .form__item {
        margin-top: 24px;
    }
    &__forgetCode{
        margin-top: 16px;
        display:inline-block;
        text-align: left;
        text-underline-offset:5px;
        width: auto;
    }
}


.form{
    max-width: 440px;
    width: 100%;
    margin: auto;

    &__logo{
        display: block;
        width: 299px;
        height: 103px;

        margin: 0 auto 64px;
        img{
            width: 100%;
            height: 100%;
           
        }
    }
    &__label{
        position: absolute;
        top: 10px;
        left: 16px;
        padding: 4px;
        display:inline-block;
        background: white;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #C2CFE0;


        
    }

    &__input{
        height: 56px;
    }
    &__btn-wrapper{
        margin: 64px 0px 24px;
    }
    &__link-container{
        display: flex;

        justify-content: center;
    
    }
    
}

@media screen and (max-width:768px) {
    .signform{
        &__container{
            padding: 0 16px ;
        }
        &__content{
            min-height: 526px;
            padding: 32px 16px;
          
        }
        .form{
            &__logo{
                width: 207px;
                height: 72px;

            } 
        }
    
        .form__item + .form__item {
            margin-top: 16px;
        }
    }
    
}